$logo-color: #f8981c;
$divider-color: #bcbbbb;
$font-color: #747704;
$left-margin: 200px;

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-right: $left-margin;
}

header {
  border-bottom: solid 5px $divider-color;
  margin-left: $left-margin;
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;

  img {
    height: 7rem;
    display: block;
    margin: 0 0 2% 0;
  }

  div {
    display: block;
    width: 35%;

    h1 {
      display: block;
      font-family: 'josefin_sanslight', sans-serif;
      font-size: 3rem;
      line-height: 1.5em;
      margin: 0;
      text-shadow: #aaa 3px 3px 5px;
      width: auto;
      text-align: center;
    }

    span {
      display: block;
      background-color: $logo-color;
      font-size: 1.75em;
      line-height: 1.5em;
      color: #fff;
      text-shadow: #555 3px 3px 5px;
      width: auto;
      text-align: center;
    }
  }
}

.content {
  margin-left: $left-margin;

  .hero-image {
    max-width: 100%;

    img {
      width: 100%;
    }
  }

  .featured-works {
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;

    div {
      text-align: center;

      .frame {
        overflow-y: hidden;
        height: 200px;
        display: flex;
        align-items: center;

        img {
        }
      }
    }
  }
}

.color-bar {
  float: left;
  width: $left-margin;

  .swatches {
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;

    div {
      height: 85px;
      width: 85px;
      margin: 4px auto;
    }

    .logo-color {
      background-color: $logo-color;
    }

    .divider-color {
      background-color: $divider-color;
    }

    .font-color {
      background-color: $font-color;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 2em;

    li {
      margin: 1em 0;
      text-align: center;
    }
  }
}
